#hide-1 tr td:nth-child(2), #hide-1 tr td:nth-child(3){
visibility: hidden;
}

#hide-2 tr td:nth-child(1), #hide-2 tr td:nth-child(3){
visibility: hidden;
}

#hide-3 tr td:nth-child(1), #hide-3 tr td:nth-child(2){
visibility: hidden;
}

#id_of_table{
	overflow:auto;
	height: 500px;
	width:320px;
}
.empty{
	border:0 none;
}
.scrollit{
	overflow: scroll;
	height:100px;
}
body{
	font-family: 'Droid Sans',sans-serif;
}

thead{
	background-color: #005a9c;
	color:white;
	font-weight: 
}
thead, tbody{
display: block;

}
tbody{
	height:1000px;
	overflow-y:auto;
	overflow-x:hidden;  
}

th#Baseball, th#Basketball, th#Football {
	padding: 10px;
	font-size:15px;
}

.teams{
	border: none;
}

.team{
	border:none;
}

#scoreboard_heading{
	color:  #005a9c;
}
#id_of_table{
	border: 1px solid black;
    table-layout: fixed;
    width: 200px;
}
th, td {
    border: 1px solid black;
    width: 200px;
}