table{
	border-collapse: collapse;
	table-layout: fixed;
	width:320px;
	border: 2px solid #005a9c;
	font-size: 12px;

}

body{
	font-family: 'Droid Sans',sans-serif;
}

select {
	background-color: #005a9c;
	color: white;
	font-size: 16px;
	border-color: #005a9c;
}

th{
	background-color: #005a9c;
	color:white;
	padding: 10px;
	font-size: 15px;
}

tr:nth-child(even) {
    background-color: #ccd9ff;
}


td {
	padding-top: 15px;
	padding-bottom: 15px;
}

#scoreboard_heading{
	color:  #005a9c;
}

.date {
	text-indent: 7px;
}
.game {
	text-indent: 22px;
}
.score {
	text-indent: 20px;
}

#table_wrapper {
    height: 309px;
    overflow: scroll;
    width: 320px;
    border-bottom: 2px solid #005a9c;
}
