
table, th, td{
	border-collapse: collapse;
}
table{
	width:30%;
}
thead{
	width:30%;
	border:1px solid black;
	border-style: groove;
}	
tbody{
	width:30%;
	height:40%;
	overflow: auto;

}
#tbody {
	height: 220px;
	overflow-y: auto;
}
.date,.game,.score,.SBU,.opponent{
	text-align: center;
	font-weight: bold;
}
.header-cell{
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}

#header{
	width:30%;
	background-color: #005a9c;
	height: 44px;
	text-align: center;
	vertical-align: middle;

}

#header #left {
	width: 40%;
	float: left;
}

body{
	font-family: 'Droid Sans',sans-serif;
}

select {
	background-color: #005a9c;
	color: white;
	font-size: 16px;
	border-color: #005a9c;
}


tr:nth-child(even) {
    background-color: #ccd9ff;
}


#scoreboard_heading{
	color:  #005a9c;
}



